body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
a {
 color: hotpink;
}
ul.b {
 list-style-type: square;
}
ul.a {
 list-style-type: circle;
}
span {
 display: block;
}
